@-moz-document url-prefix(about:home), url-prefix(about:newtab), url(about:privatebrowsing) {
	.click-target-container *, .top-sites-list * {
		color: #fff !important ;
		text-shadow: 1px 1px 1px #000 !important ;
	}

	body {
		background: url(wallpaper.png) no-repeat fixed !important ;
		background-size: cover !important ;
	}
}